<div class="content-wrapper">
  <div class="content-block">
  <% @posts.each do |post| %>
    <div class="content">
      <div class="user-about">
        <div class="image">
         <%= image_tag "IMG_6389.jpg" %>
        </div>
        <div class="profile">
         <div class="name-history">
            <div class="name">
              洋食屋熊谷
            </div>
            <div class="learning-history">
              コロナに負けず新作を試作中！！
            </div>
         </div>
          <div class="purpose">
           お店住所: 神奈川県藤沢市本町2-2-2
          </div>
        </div>
     </div>

    <div class="text">
     <p><%= post.content %></p>
     <%= link_to post_path(post.id) do %>
     <% if post.images.attached? %>
        <%  post.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
     <% end %>
     <% end %>
    </div>

   <div class="action-menu">
      <div class="like">
       <% if current_post_reader.already_favorited?(post) %>
        <%= link_to 'いいねを外す', post_favorite_path(post), method: :delete %>
        <% else %>
        <%= link_to 'いいね', post_favorites_path(post), method: :post %>
       <% end %>
       <%# <%= post.favorites.count %>
      </div>
      <div class="comment">
       <% if @comments %>
          <% @comments.each do |comment| %>
            <%= comment.text %>
          <% end %>
       <% end %>

       <% if post_reader_signed_in? || post_writer_signed_in? %>
       <%= form_with model: @comment, method: :post, local: true do |f| %>
        <%= f.text_field :text %>
        <%= f.submit 'コメントする' %>
       <% end %>
      </div>
      <% end %>
    
    </div>
   </div>
   <% end %>
  </div>
</div>